{% extends "blog/base.html" %} {%block title%} Login {%endblock title%} {% block header%}
<header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Please login</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %} {% if next %} {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has
                access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %} {% endif %}

            <form role="form" name="sentMessage" id="contactForm" method="POST" action="{% url 'blog:login' %}">
                {%csrf_token%}

                <div class="form-group">

                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>

                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                </div>


                <br>
                <div class="form-group ">
                    <button type="submit " class="btn btn-primary " id="sendMessageButton ">Login</button>
                </div>
                <div class="form-group ">
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
